.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(7, minmax(14.28%, auto));
    grid-template-areas: 
    "search port tool"
    "search port tool"
    "stock view tool"
    "stock view tool"
    "stock view tool"
    "stock session tool"
    "stock session tool";
}

.wrapper > * {
    background-color: #131212;
    border: 3px solid rgb(14, 13, 13);  
}
.search {
   grid-area: search;
}

.port {
    grid-area: port;
}

.tool {
    grid-area: tool;
}

.view {
    grid-area: view;
}

.stock {
    grid-area: stock;
}

.session {
    grid-area: session;
}