.intervalTitle{
    font-size: 1.2em;
}

.intervalSelect select{
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa "../../../public/button.png" no-repeat 90% 50%;
}

.select-style select:focus {
    outline: none;
}

.arrow {
    margin-left: 0 auto;
    margin-top: 0 auto;
    object-fit: cover;
    width: inherit;
    height: inherit;
}

.nextButton {
    background-color: orange;
    color: black;
    width: 28%;
    height: 1.5em;
    border: 3px solid black;
    font-size: 170%;
    margin-right: .5em;
    border-radius: 8px;
}
.nextButton:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
    background-color: #b36e00;
}

