.intervalTitle{
    font-size: 1.2em;
}

.intervalSelect select{
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa "../../../public/button.png" no-repeat 90% 50%;
}

.select-style select:focus {
    outline: none;
}

#arrow {
    position: absolute;
    height: 50px;
    width: 100px;
}

.nextButton {
    background-color: orange;
    color: black;
    width: 5em;
    border: 3px solid black;
    font-size: 170%;
    margin-right: .5em;
    border-radius: 8px;
}
.nextButton:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
    background-color: #b36e00;
}

