@import url('https://fonts.googleapis.com/css?family=Oswald');
.wrapper {
    display: grid;
    margin: 3% 3% 0% 3%;
    grid-gap: 5%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; 
    grid-template-areas: 
    "title title"
    "select button";
}

.intervalTitle {
    grid-area: title;
    font-family: 'Oswald';
    font-size: 185%;
    margin: 0 auto;
}

.intervalSelect {
    grid-area: select; 
    text-align-last: center;
    background-color: white;
    color: black;
    border: 3px solid black;
    font-family: 'Oswald';
    font-size: 178%;
    border-radius: 8px;
}

.nextButton {
    grid-area: button;
    background-color: white;
    color: black;
    border: 3px solid black;
    font-family: 'Oswald';
    font-size: 180%;
    border-radius: 8px;
}


.nextButton:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
    background-color: rgb(170, 165, 165);
}

