.title {
    color: rgb(221, 107, 0);
    font-family: 'Helvetica bold';
    font-size: 3em;
}

.wrapper {
    z-index: 1;
    display: grid;
    margin-top: 2%;
    grid-template-columns:repeat(5, 1fr);
    grid-gap: 1em;
}

.values {
    border: 3px solid black;
    margin-top: 10px;
    background-color: green;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.label {
    font-size: 150%;
    color: white;
    text-align: center;
}

.green {
    background-color: green;
}

.red {
    background-color: #ff3333;
}

