@import url('https://fonts.googleapis.com/css?family=Oswald');
.title {
    background-color: black;
    color: #dadada;
    font-family: 'Oswald';
    font-size: 250%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    height: 50px;
    width: 100%;
}