@import url('https://fonts.googleapis.com/css?family=Oswald');
.title {
    background-color: #0e1111;
    color: #dadada;
    font-family: 'Oswald';
    font-size: 250%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}