.box {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    position: absolute;
    margin-top: 0px;
    width: 15%;
    height: 100vh;
    border: 3px solid rgb(31, 30, 30);
    background-color: red;
}