.box {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    margin-top: 0px;
    width: 15%;
    height: 100vh;
    border: 3px solid rgb(31, 30, 30);
    background-color: #252525;
    z-index: 500;
    color: white;
}

.title {
    background-color: black;
    color: grey;
    font-size: 150%;
    text-align: center;
    padding-top: 10px;
    height: 50px;
}