.wrapper {
    color: whitesmoke;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, minmax(1fr, auto));
    grid-template-rows: repeat(4, minmax(50px, auto));
    grid-template-areas:
    "title title title title"
    "progres progres progres progres"
    "interval interval options options"
    "interval interval options options";
}

.title{
    grid-area: title;
    background-color: black;
    color: #dadada;
    font-family: 'Oswald';
    font-size: 250%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    height: 50px;
    width: 100%;
}

.progress { 
    grid-area: progres;
}
.interval { 
    grid-area: interval;
}
.options  { 
    grid-area: options;
}