.wrapper {
    display: grid;
    padding: 2% 2% 0% 2%;
    font-family: 'Oswald';
    font-size: 150%;
    grid-template-columns: 12.5% 75% 12.5%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "past bar current";
}

.progress {
    width: 0%;
    height: 100%;
    background-color: white;
    text-align: center;
    line-height: 100%;
    transition: width 400ms linear;
}

.bar {
    grid-area: bar;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background: rgb(71, 71, 71);
}

.pastDate {
    margin-left: auto;
    margin-right: auto;
    grid-area: past;
}

.currentDate {
    margin-left: auto;
    margin-right: auto;
    grid-area: current;
}