@import url('https://fonts.googleapis.com/css?family=Oswald');
.box {
    background-image: linear-gradient(#dadada, #bbbbbb);
}

.title {
    font-size: 180%;
    padding-left: 20px;
    width: 50%;
    height: 50%;
    font-family: 'Oswald';
    display: inline-block;
}

.title p  {
    display: inline-block;
    font-family: 'Oswald';
    width: 50px;
    margin-right: 30px;
}

.MiniGraph {
    float: right;
    width: 3%;
    height: 5%;
    border: solid;
    margin-top: 2%;
    margin-right: 2%;
    background-color: rgb(109, 160, 9);
    color: black;
    font-size: 110%;
}

.StockInfo {
    margin-top: 5%;
    width: 11%;
    float: right;
    margin-right: 1%;
}

.PurchasePrice, .MarketPrice, .GainLoss {
    width: 100%;
    height: 10%;
    display: block;
    margin-top: 20px;
    font-size: 100%;
    text-align: center;
}

.Prices {
    background-color: rgb(109, 160, 9);
    color: black;
    border-radius: 2px;
    font-size: 120%;
    font-family: 'Oswald';
    text-align: center;
    border: 3px solid black;
}

.Green, .Red {
    color: black;
    border-radius: 2px;
    font-size: 120%;
    text-align: center;
    border: 3px solid black;
}

.Green {
    background-color: rgb(109, 160, 9);
}

.Red {
    background-color: #ff3333;
}

.Trading button{
    background-color: white;
    color: black;
    width: 18%;
    border: 3px solid black;
    font-size: 170%;
    font-family: 'Oswald';
    margin: .1em 50px .2em 50px;
    border-radius: 8px;

}
.Trading button:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
    background-color: rgb(170, 165, 165);
}

.Trading {
    margin-left: 28%;
    margin-top: .1em;
}
