@import url('https://fonts.googleapis.com/css?family=Oswald');

.box1 {
    width: 100%;
    height: 100%;
    background-color: rgb(71, 71, 71);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "title graph graph graph graph graph graph ."
    ".     graph graph graph graph graph graph ."
    ".     graph graph graph graph graph graph ."
    ".     graph graph graph graph graph graph ."
    ".     graph graph graph graph graph graph ."
    ".     graph graph graph graph graph graph ."
    ".     graph graph graph graph graph graph ."
    ".     .     .     .     .     .     .     .";
}

.box2 {
    width: 100%;
    height: 100%;
    background-color: rgb(71, 71, 71);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "logo  graph graph graph graph graph graph miniGraph"
    "title graph graph graph graph graph graph info"
    ".     graph graph graph graph graph graph info"
    ".     graph graph graph graph graph graph info"
    ".     graph graph graph graph graph graph info"
    ".     graph graph graph graph graph graph info"
    ".     graph graph graph graph graph graph info"
    ".     .     trading trading trading trading . .";
}

.title {
    grid-area: title;
    font-size: 250%;
    font-family: 'Oswald';
    color: whitesmoke;
    margin-top: 1%;
    margin-left: 2%;
}

.logo  {
    grid-area: logo;
}

.graph {
    grid-area: graph;
    padding: 1%;
}

.miniWrapper {
    grid-area: miniGraph;
    width: 100%;
    height: 100%;
}

.MiniGraph {
    height: 70%;
    width: 30%;
    margin-top: 2%;
    margin-right: 2%;
    float: right; 
    border: solid;
    background-color: rgb(109, 160, 9);
    color: black;
    font-size: 110%;
}

.StockInfo {
    grid-area: info;
    font-family: 'Oswald';
    color: whitesmoke;
    margin: auto auto auto auto;
}

.PurchasePrice, .MarketPrice, .GainLoss {
    font-size: 130%;
    text-align: center;
}

.Prices {
    background-color: rgb(109, 160, 9);
    color: whitesmoke;
    border-radius: 8px;
    font-size: 130%;
    font-family: 'Oswald';
    text-align: center;
    border: 3px solid black;
}

.Green, .Red {
    color: whitesmoke;
    border-radius: 8px;
    font-family: 'Oswald';
    font-size: 120%;
    text-align: center;
    border: 3px solid black;
}

.Green {
    background-color: rgb(109, 160, 9);
}

.Red {
    background-color: #ff3333;
}

.Trading {
    grid-area: trading;
    margin: 1% auto 1% auto;
    width: 90%;
}

.Trading button{
    background-color: white;
    color: black;
    width: 45%;
    margin-right: 2%;
    border: 3px solid black;
    font-size: 170%;
    font-family: 'Oswald';
    border-radius: 8px;
}
.Trading button:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
    background-color: rgb(170, 165, 165);
}


