.box {
    background-image: linear-gradient(#dadada, #bbbbbb);
}

.title {
    font-size: 180%;
    padding-left: 20px;
    width: 50%;
    height: 50px;
    display: inline-block;
}

.title p  {
    display: inline-block;
    width: 50px;
    margin-right: 30px;
}

.MiniGraph {
    float: right;
    width: 3%;
    height: 5%;
    border: solid;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #9ACD32;
    color: black;
    font-size: 110%;
}

.StockInfo {
    margin-top: 5%;
    width: 11%;
    float: right;
    margin-right: 1%;
}

.PurchasePrice, .MarketPrice, .GainLoss {
    width: 100%;
    height: 10%;
    display: block;
    margin-top: 20px;
    font-size: 100%;
    text-align: center;
}

.Prices {
    background-color: #9ACD32;
    color: black;
    border-radius: 2px;
    font-size: 120%;
    text-align: center;
    border: 3px solid black;
}

.Green, .Red {
    color: black;
    border-radius: 2px;
    font-size: 120%;
    text-align: center;
    border: 3px solid black;
}

.Green {
    background-color: #9ACD32;
}

.Red {
    background-color: #ff3333;
}

.Trading button{
    background-color: orange;
    color: black;
    width: 18%;
    border: 3px solid black;
    font-size: 170%;
    margin: .1em 50px .2em 50px;
    border-radius: 8px;

}
.Trading button:hover {
    background-image: linear-gradient(#ec7f02fd, #ca7e04);
    box-shadow: 0px 0px 5px 0px rgb(26, 23, 23);
    background-color: #ff9d00;
}

.Trading {
    margin-left: 28%;
    margin-top: .1em;
}
