.GraphBox {
    border-radius: 8px;
    height: 320px;
    width: 65%;
    border: 3px solid black;
    display: inline-block;
    margin-left: 15%;
    margin-top: 3%;
}

.Red {
    background-color: #ff3333;
    border: solid;
}

.Green {
    background-color: #9ACD32;
    border: solid;
}

.Line {
    width: 400px;
    height: 3px;
    background: black;
    margin-top: 150px;
}