.GraphBox {
    border-radius: 8px;
    height: 275px;
    width: 50%;
    border: 3px solid black;
    display: inline-block;
    margin-left: 24.5%;
    margin-top: 5%;
    margin-bottom: auto;
}

.Red {
    background-color: red;
    border: solid;
}

.Green {
    background-color: green;
    border: solid;
}