.wrapper {
    display: grid;
    float: right;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "title title title"
    "save load quit"
}

.wrapper > button {
    background-color: orange;
    color: black;
    width: 5em;
    border: 3px solid black;
    font-size: 170%;
    margin-right: .5em;
    border-radius: 8px;
}

.wrapper > button:hover {
    background-image: linear-gradient(#ec7f02fd, #ca7e04);
    box-shadow: 0px 0px 5px 0px #ccc;
    background-color: #ff9d00;
}

.title {
    grid-area: title;
    font-size: 1.8em;
    margin: 0 auto;
}

.save {
    grid-area: save;
}

.open {
    grid-area: load;
}

.quit {
   grid-area: quit;
}
